{% extends 'base.html' %}
{% load static %}


{% block content %}

  <!-- Carrusel -->
  {% include 'carrusel.html' %}

  <!-- Services -->
  <section id="services" class="home-section-service bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="section-heading">
            <h2>Services</h2>
            <div class="heading-line"></div>
            <p class="colordarkgray">We’ve been building unique digital products, platforms, and experiences for the past 6 years.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="carousel-service" class="service carousel slide">

            <!-- slides -->
            <div class="carousel-inner">
              <div class="item active">
                <div class="row">
                  <div class="col-sm-12 col-md-offset-1 col-md-6">
                    <div class="wow bounceInLeft">
                      <h4>Excursion Reservation</h4>
                      <p class="colordarkgray">Book any of our available excursions and enjoy an excellent day.</p>
                      <a href="{% url 'excursion:initial' %}" type="submit" class="btn btn-theme btn-lg btn-block">Book your excursion</a>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-5">
                    <div class="screenshot wow bounceInRight">
                      <img src="{%static 'images/personal/home/services/excursions.png'%}" class="img-responsive" alt="" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="row">
                  <div class="col-sm-12 col-md-offset-1 col-md-6">
                    <div class="wow bounceInLeft">
                      <h4>Download photos</h4>
                      <p class="colordarkgray">Download the photos of your trip in an easy and fast way.</p>
                      <a href="{% url 'download:initial' %}"  type="submit" class="btn btn-theme btn-lg btn-block">Download your pics</a>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-5">
                    <div class="screenshot wow bounceInRight">
                      <img src="{%static 'images/personal/home/services/downloads.png'%}" class="img-responsive" alt="" />
                    </div>
                  </div>
                </div>`
              </div>
              <div class="item">
                <div class="row">
                  <div class="col-sm-12 col-md-offset-1 col-md-6">
                    <div class="wow bounceInLeft">
                      <h4>Photo sessions</h4>
                      <p class="colordarkgray">Hire any of our specialized tourism photographers and enjoy your memories with the best photos.</p>
                      <button href="#" type="submit" class="btn btn-theme btn-lg btn-block">Request your photographer now.</button>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-5">
                    <div class="screenshot wow bounceInRight">
                      <img src="{%static 'images/personal/home/services/photographers.png'%}" class="img-responsive" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-service" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-service" data-slide-to="1"></li>
              <li data-target="#carousel-service" data-slide-to="2"></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- About -->
  <section id="about" class="home-section-about bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="section-heading">
            <h2>About us</h2>
            <div class="heading-line"></div>
            <p class="colordarkgray">We’ve been building unique digital products, platforms, and experiences for the past 6 years.</p>
          </div>
        </div>
      </div>
      <div class="row wow fadeInUp">
        <div class="col-md-6 about-img">
          <img src="{%static 'images/personal/home/about/aboutus.jpg'%}" alt="">
        </div>

        <div class="col-md-6 content">
          <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elite storium paralate</h2>
          <h3>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.</h3>
          <p>
            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum Libero justo laoreet sit amet
            cursus sit amet dictum sit. Commodo sed egestas egestas fringilla phasellus faucibus scelerisque eleifend
            donec Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Parallax 1 -->
  <section id="parallax1" class="home-section-details parallax" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="color-light">
            <h2 class="wow bounceInDown" data-wow-delay="0.5s">Details are the key for perfection</h2>
            <p class="lead wow bounceInUp" data-wow-delay="1s">We mix all detailed things together</p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Works -->
  <section id="portfolio" class="home-section-works bg-white2">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="section-heading">
            <h2>Works</h2>
            <div class="heading-line"></div>
            <p class="colordarkgray">We’ve been building unique digital products, platforms, and experiences for the past 6 years.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">

          <ul id="og-grid" class="og-grid">
            <li>
              <a href="#" data-largesrc="{% static 'images/personal/home/works/work1.jpg' %}" data-title="Portfolio title" data-description="Duo te dico volutpat, unum elit oblique per id. Ne duo mollis sapientem intellegebat. Per at augue vidisse percipit, pri vocibus assueverit interesset ut, no dolore luptatum incorrupte nec. In mentitum forensibus nec, nibh eripuit ut pri, tale illud voluptatum ut sea. Sed oratio repudiare ei, cum an magna labitur, eu atqui augue mei. Pri consul detracto eu, solet nusquam accusam ex vim, an movet interesset necessitatibus mea.">
                <img src="{% static 'images/personal/home/works/work1.jpg' %}" alt="" />
              </a>
            </li>
            <li>
              <a href="#" data-largesrc="{% static 'images/personal/home/works/work2.jpg' %}" data-title="Portfolio title" data-description="Mea an eros periculis dignissim, quo mollis nostrum elaboraret et. Id quem perfecto mel, no etiam perfecto qui. No nisl legere recusabo nam, ius an tale pericula evertitur, dicat phaedrum qui in. Usu numquam legendos in, voluptaria sadipscing ut vel. Eu eum mandamus volutpat gubergren, eos ad detracto nominati, ne eum idque elitr aliquam.">
                <img src="{% static 'images/personal/home/works/work2.jpg' %}" alt="" />
              </a>
            </li>
            <li>
              <a href="#" data-largesrc="{% static 'images/personal/home/works/work1.jpg' %}" data-title="Portfolio title" data-description="Vim ad persecuti appellantur. Eam ignota deterruisset eu, in omnis fierent convenire sed. Ne nulla veritus vel, liber euripidis in eos. Postea comprehensam vis in, detracto deseruisse mei ea. Ex sadipscing deterruisset concludaturque quo.">
                <img src="{% static 'images/personal/home/works/work1.jpg' %}" alt="img01" />
              </a>
            </li>
            <li>
              <a href="#" data-largesrc="{% static 'images/personal/home/works/work1.jpg' %}" data-title="Portfolio title" data-description="In mentitum forensibus nec, nibh eripuit ut pri, tale illud voluptatum ut sea. Sed oratio repudiare ei, cum an magna labitur, eu atqui augue mei. Pri consul detracto eu, solet nusquam accusam ex vim, an movet interesset necessitatibus mea.">
                <img src="{% static 'images/personal/home/works/work1.jpg' %}" alt="img01" />
              </a>
            </li>
            <li>
              <a href="#" data-largesrc="{% static 'images/personal/home/works/work2.jpg' %}" data-title="Portfolio title" data-description="Duo te dico volutpat, unum elit oblique per id. Ne duo mollis sapientem intellegebat. Per at augue vidisse percipit, pri vocibus assueverit interesset ut, no dolore luptatum incorrupte nec. In mentitum forensibus nec, nibh eripuit ut pri, tale illud voluptatum ut sea">
                <img src="{% static 'images/personal/home/works/work2.jpg' %}" alt="img01" />
              </a>
            </li>
            <li>
              <a href="#" data-largesrc="{% static 'images/personal/home/works/work2.jpg' %}" data-title="Portfolio title" data-description="Id elit saepe pro. In atomorum constituam definitionem quo, at torquatos sadipscing eum, ut eum wisi meis mentitum. Probo feugiat ea duo. An usu platonem instructior, qui dolores inciderint ad. Te elit essent mea, vim ne atqui legimus invenire, ad dolor vitae sea.">
                <img src="{% static 'images/personal/home/works/work2.jpg' %}" alt="img01" />
              </a>
            </li>
            <li>
              <a href="#" data-largesrc="{% static 'images/personal/home/works/work2.jpg' %}" data-title="Portfolio title" data-description="Duo te dico volutpat, unum elit oblique per id. Ne duo mollis sapientem intellegebat. Per at augue vidisse percipit, pri vocibus assueverit interesset ut, no dolore luptatum incorrupte nec. In mentitum forensibus nec, nibh eripuit ut pri, tale illud voluptatum ut sea. Sed oratio repudiare ei, cum an magna labitur, eu atqui augue mei.">
                <img src="{% static 'images/personal/home/works/work1.jpg' %}" alt="img01" />
              </a>
            </li>
            <li>
              <a href="#" data-largesrc="{% static 'images/personal/home/works/work1.jpg' %}" data-title="Portfolio title" data-description="No nisl legere recusabo nam, ius an tale pericula evertitur, dicat phaedrum qui in. Usu numquam legendos in, voluptaria sadipscing ut vel. Eu eum mandamus volutpat gubergren, eos ad detracto nominati, ne eum idque elitr aliquam.">
                <img src="{% static 'images/personal/home/works/work1.jpg' %}" alt="img01" />
              </a>
            </li>
            <li>
              <a href="#" data-largesrc="{% static 'images/personal/home/works/work2.jpg' %}" data-title="Portfolio title" data-description="Lorem ipsum dolor sit amet, ex pri quod ferri fastidii. Mazim philosophia eum ad, facilisis laboramus te est. Eam magna fabellas ut. Ne vis diceret accumsan salutandi, pro in impedit accusamus dissentias, ut nonumy eloquentiam ius.">
                <img src="{% static 'images/personal/home/works/work1.jpg' %}" alt="img01" />
              </a>
            </li>
            <li>
              <a href="#" data-largesrc="{% static 'images/personal/home/works/work1.jpg' %}" data-title="Portfolio title" data-description="Duo te dico volutpat, unum elit oblique per id. Ne duo mollis sapientem intellegebat. Per at augue vidisse percipit, pri vocibus assueverit interesset ut, no dolore luptatum incorrupte nec. In mentitum forensibus nec, nibh eripuit ut pri, tale illud voluptatum ut sea. Sed oratio repudiare ei, cum an magna labitur, eu atqui augue mei. Pri consul detracto eu, solet nusquam accusam ex vim.">
                <img src="{% static 'images/personal/home/works/work1.jpg' %}" alt="img01" />
              </a>
            </li>
            <li>
              <a href="#" data-largesrc="{% static 'images/personal/home/works/work2.jpg' %}" data-title="Portfolio title" data-description="Vim ad persecuti appellantur. Eam ignota deterruisset eu, in omnis fierent convenire sed. Ne nulla veritus vel, liber euripidis in eos. Postea comprehensam vis in, detracto deseruisse mei ea. Ex sadipscing deterruisset concludaturque quo.">
                <img src="{% static 'images/personal/home/works/work2.jpg' %}" alt="img01" />
              </a>
            </li>
            <li>
              <a href="#" data-largesrc="{% static 'images/personal/home/works/work1.jpg' %}" data-title="Portfolio title" data-description="Mea an eros periculis dignissim, quo mollis nostrum elaboraret et. Id quem perfecto mel, no etiam perfecto qui. No nisl legere recusabo nam, ius an tale pericula evertitur, dicat phaedrum qui in. Usu numquam legendos in, voluptaria sadipscing ut vel. Eu eum mandamus volutpat gubergren, eos ad detracto nominati, ne eum idque elitr aliquam.">
                <img src="{% static 'images/personal/home/works/work2.jpg' %}" alt="img01" />
              </a>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </section>


  <!-- Team -->
  <section id="team" class="home-section-team bg-white3">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="section-heading">
            <h2 class="colorlightgray">Our Team</h2>
            <div class="heading-line"></div>
            <p class="colorlightgray">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
              laborum</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <div class="box-team wow bounceInUp" data-wow-delay="0.1s">
            <img src="{% static 'images/personal/home/team/team1.jpg' %}" alt="" class="img-circle img-responsive" />
            <h4>Dominique Vroslav</h4>
            <p>Art Director</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" data-wow-delay="0.3s">
          <div class="box-team wow bounceInUp">
            <img src="{% static 'images/personal/home/team/team1.jpg' %}" alt="" class="img-circle img-responsive" />
            <h4>Thomas Jeffersonn</h4>
            <p>Web Designer</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" data-wow-delay="0.5s">
          <div class="box-team wow bounceInUp">
            <img src="{% static 'images/personal/home/team/team1.jpg' %}" alt="" class="img-circle img-responsive" />
            <h4>Nola Maurin</h4>
            <p>Illustrator</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" data-wow-delay="0.7s">
          <div class="box-team wow bounceInUp">
            <img src="{% static 'images/personal/home/team/team1.jpg' %}" alt="" class="img-circle img-responsive" />
            <h4>Mira Ladovic</h4>
            <p>Typographer</p>
          </div>
        </div>
      </div>
    </div>
  </section>


    


{% endblock %}