{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/personal/photos.css' %}" />
	<link href="{% static 'css/personal/download.css' %}" rel="stylesheet" media="screen">
{% endblock %}


{% block content %}



<div class="masthead">
  <div class="container h-100">
    <div class="rowi h-100 align-items-center">
    
    <div class="centerphotos">
      <div class="jumbotron jumbotron-photos">
        <div class="row">
          <div class="col-md-12">
            <i class="fa fa-times" aria-hidden="true"></i>
            <h1 class='sorry'>SORRY</h1>
            <br>
	            <h3>
	            	Something went wrong, please verify your paypal account and try again.
	            </h3>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

{% endblock %}