{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/personal/photos.css' %}" />
	<link href="{% static 'css/personal/download.css' %}" rel="stylesheet" media="screen">
{% endblock %}



{% block content %}
<div class="masthead">
  <div class="container h-100">
    <div class="rowi h-100 align-items-center">

    <div class="centerphotos">
      <div class="jumbotron jumbotron-photos">
        <div class="row">
          <div class="col-md-12">
            <i class="fa fa-check-circle-o"></i>
            <h1 class='thanks'>THANKS</h1>
            <br>
            <h2>
              Your excursion has been successfully booked
            </h2><br>
            <h4>We will send you an email with proof of the transaction. <br>Thank you for your reservation and enjoy your excursion.
              </h4>
            
         
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
{% endblock %}


