{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
<!-- <link href="https://res.cloudinary.com/mrdogra007/raw/upload/v1534746282/force-framework/v-1.4/style.min.css" rel="stylesheet"> -->
<link rel="stylesheet" type="text/css" href="{% static 'css/personal/photos.css' %}" />
<link href="{% static 'css/personal/download.css' %}" rel="stylesheet" media="screen">
<link href="{% static 'css/personal/excursion.css' %}" rel="stylesheet" media="screen">

{% endblock %}

{% block content %}
<div class="masthead">
  <div class="container h-100">
    <div class="rowi2 h-100 align-items-center">

    <h1 class="font-styles">PLEASE COMPLETE YOUR ORDER </h1>
    <div class="jumbotron jumbotron-photos">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <!-- LEFT SECTION -->
          <div class="container">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
              <h3>Invoice</h3>
            </h4>
            <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Tourist</h6>
                <h4 class="text-muted">{{backend_dict.name}} {{backend_dict.lastname}}</h4>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Excursion Name</h6>
                <h4 class="text-muted">{{backend_dict.excursion_name}}, {{backend_dict.date}} at {{backend_dict.turn }}</h4>
              </div>
            </li>
           
            <li class="list-group-item d-flex justify-content-between bg-light">
              <div class="text-success">
                <h6 class="my-0">Hotel</h6>
                <h4 class="text-muted">{{backend_dict.hotel}} for {{backend_dict.amount_people}} persons</h4>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between bg-light">
              <div class="text-success">
                <h6 class="my-0">TOTAL</h6>
                <h4 class="text-success">$ {{backend_dict.total_to_pay}}</h4>
                 {{ form.render }}
              </div>
            </li>

          </ul>
          </div>
        </div>
        <!-- END LEFT SECTION -->
        
      </div>
    </div>
  </div>
  </div>
</div>
{% endblock %}