{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
   <link href="{% static 'css/personal/download.css' %}" rel="stylesheet" media="screen">
   <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}

{% block content %}
   <!-- Carrusel -->
   {% include 'carrusel.html' %}
   
   <div class="masthead personal-height">
      <div class="container">
         <div class="rowi">
            <div class="col-12 text-center">
               <h1 class="font-styles">Download your photos here !</h1>
               <p class="lead colorlightgray">Select the day of your excursion</p>
               <div class='form'>
                  <form method="post" name="formu" id="form" enctype="multipart/form-data">
                     {% csrf_token %}
                     <input placeholder="Date" type="text" name="daterange" id="fecha" class="datepicker boton"/>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
{% endblock %}


{% block extrajs %}
   <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js">
   </script>

   <script src="{% static 'js/calendardownload.js' %}" type="text/javascript">
   </script>
   
   <script type="text/javascript">
      var available_dates = '{{available_dates}}';
      var start = '{{start}}';
      var end = '{{end}}';
   </script>
{% endblock %}