{% extends 'base.html' %}
{% load static %}

{% block extrahead %}	
	<link href="{% static 'css/personal/download.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
	<div class="masthead">
	   <div class="container">
	      <div class="rowi">
	         <h1 class="font-styles">Form of {{photo_date}} photos</h1>
	         <h3 class="lead">Please fill in the below form to continue</h3>
	         <div class="jumbotron jumbotron-personal">
	            <form method="post" name="formu" enctype="multipart/form-data" action="{% url 'download:order'%}">
	               {% csrf_token %}
	               {% for field in download_form %}
	               <div class="form-group row">
	                  <label class="col-sm-2">{{field.label_tag}}</label>
	                  <div class="col-sm-10">
	                     {{field}}
	                     {% if field.errors %}
	                     <div class="alert alert-danger danger-cls" role="alert">
	                        {{field.errors.as_text}}
	                     </div>
	                     {% endif %}
	                  </div>
	               </div>
	               {% endfor %}
	               <div>
	                  <input type="submit" value="Next" class="btn btn-primary cls-input"/>
	               </div>
	            </form>
	         </div>
	      </div>
	   </div>
	</div>
{% endblock %}