{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
   <link href="{% static 'css/personal/download.css' %}" rel="stylesheet" media="screen">
   <link rel="stylesheet" type="text/css" href="{% static 'css/personal/photos.css' %}" />
{% endblock %}

{% block content %}
   <div class="masthead">
      <div class="container">
         <div class="rowi2">
            <div>
               <div>
                  <div class="verticals twelve">
                     <h1 class="font-styles">PHOTOS AVAILABLES FOR {{photo_date}}</h1>
                  </div>
               </div>
               <div class="jumbotron jumbotron-photos">
                  <form method="post" name="formu" enctype="multipart/form-data" action="{% url 'download:photos' %}">
                     <div>
                        <div class="verticals twelve">
                           <ul class="uploaded-pics" >
                              {% for p in photos %}
                              <li>
                                 <!-- El nombre es : IMAGEPATH_indicador_ISFREE para poder atajarlo en el BackEnd-->
                                 <input type="checkbox" id="checkthis{{forloop.counter}}" name="{{p.image}}_indicador_{{p.is_free|yesno:'1,0'}}"/> 
                                 <label for="checkthis{{forloop.counter}}">
                                    {% if p.is_free %}
                                    <div class="isfree animated infinite pulse slower">
                                       <img class="no-pointer" src="{% get_media_prefix %}{{ p.image }}"/>
                                       <span class="label label-default">Free</span>
                                    </div>
                                    {%else%}
                                    <img class="no-pointer" src="{% get_media_prefix %}{{ p.image }}"/>
                                    {%endif%}       
                                 </label>
                              </li>
                              {% endfor %}
                           </ul>
                        </div>
                        <div class="center-downloads-btn">
                           <input name="free" id='free' type="submit" value="Free Download" class="submitbtn"/>
                           <input name="pay" id='pay' type="submit" value="Full Download" class="submitbtn"/>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <!-- infoModal -->
      <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Download your Pics</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  Below are the photos taken on {{photo_date}}, please select the photos you want to download and select a download method.
                  <br><br>The free method will download the photos with a watermark, except those indicated as free. <br><br>The full method will redirect you to the payment process for the download without watermark.
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-info" data-dismiss="modal">Ok</button>
               </div>
            </div>
         </div>
      </div>
   </div>
{% endblock %}

{% block extrajs %}
   <script src="{% static 'js/photos.js' %}" type="text/javascript"></script>
{% endblock %}