a, a:hover {
  color: #F26A1B;
}


/* Back to top button */
.back-to-top {
  background: #044A81;
  color: #fff;
}


.back-to-top:focus {
  background: #00c1c1;
  color: #fff;
}

.back-to-top:hover {
  background: #019090;
  color: #fff;
}

.navbar-default {
  background: #F58B10;
}

.form-control:focus {
  border-color: #00c1c1;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 2px #00c1c1;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 2px #00c1c1;
}

.service .carousel-indicators .active {
  background: #F26A1B;
}

.btn-theme {
  background: #044A81;
}

.contact-widget i {
  color: #F26A1B;
}



/* Personalizacion */
.fa-backcolor{
  color: #D9D9D9
}