{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
   <link href="{% static 'css/personal/excursion.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}

  <!-- Carrusel -->
  {% include 'carrusel.html' %}
   <div class="masthead">
      <div class="container">
         <div class="rowi">
            <div class="col-12 text-center">
               <div class="row">
                  <form method="post" name="formu" enctype="multipart/form-data" action="{% url 'excursion:initial' %}">
                     {% for excursion in excursions %}
                     {% csrf_token %}
                     <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                           {% with 'images/personal/excursions/'|add:excursion.name|add:'.jpg' as imagePath %}
                              <img src='{% static imagePath %}' />
                           {% endwith %}
                           <div class="caption">
                              <h3>{{excursion.name}}</h3>
                              <p>{{excursion.detail}}</p>
                              <p>
                                 <a id="{{excursion.name|cut:' '|lower}}" class="btn btn-info" role="button" target="moreinfo">
                                 More Info
                                 </a>
                                 <input type="submit" name="{{excursion.name}}" value="Reserve" class="btn btn-primary" role="button"></input>
                              </p>
                           </div>
                        </div>
                     </div>
                     {% endfor %}
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
   {% for excursion in excursions %}
      <!-- MODAL OF {{excursion.name}} -->
      {% with obj=excursion %}
         {% include "information.html" %}
      {% endwith %}
      <!-- END MODAL -->
   {% endfor %}


{% endblock %}


{% block extrajs %}
   <script src="{% static 'js/modalexcursion.js' %}"></script>
{% endblock %}