{% extends 'base.html' %}
{% load static %}


{% block extrahead %} 
   <link href="{% static 'css/personal/excursion.css' %}" rel="stylesheet" media="screen">
   <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}


{% block content %}
   <div class="masthead">
      <div class="container">
         <div class="rowi">
            <h1 class="font-styles">Form of {{excursion_name}} Excursion</h1>
            <h3 class="lead">Please fill in the below form to continue</h3>
            <div class="jumbotron jumbotron-personal">
               <form class="form-horizontal" method="post" name="formu" enctype="multipart/form-data" action="{% url 'excursion:order'%}">
                  <!-- {% csrf_token %} -->
                  {{form.price}} <!-- PRECIO OCULTO, solo lo quiero enviar por POST pero no se debe editar -->
                  <div class="form-group">
                     <label class="control-label col-sm-2">{{form.name.label_tag}}</label>
                     <div class="col-sm-10">
                        {{form.name}}
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-sm-2">{{form.lastname.label_tag}}</label>
                     <div class="col-sm-10">
                        {{form.lastname}}
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-sm-2" for="email">{{form.email.label_tag}}</label>
                     <div class="col-sm-10">
                        {{form.email}}
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-sm-2">{{form.phone.label_tag}}</label>
                     <div class="col-sm-10">
                        {{form.phone}}
                     </div>
                  </div>
                  <hr>
                  <div class="form-group">
                     <label class="control-label col-sm-2">{{form.excursion.label_tag}}</label>
                     <div class="col-sm-10">
                        {{form.excursion}}
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-sm-2">{{form.date.label_tag}}</label>
                     <div class="col-sm-5">
                        {{form.date}}
                     </div>
                     <div class="form-group">
                        <label class="control-label col-sm-1">{{form.turn.label_tag}}</label>
                        <div class="col-sm-4">
                           <select class="form-control" name='{{form.turn.name}}' id='turn'>
                              <option selected disabled>Choose a turn...</option>
                              {% for key, value in form.fields.turn.choices %}
                              <option value="{{key}}">{{value}}</option>
                              {% endfor %}
                           </select>
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-sm-2">{{form.hotel.label_tag}}</label>
                     <div class="col-sm-5">
                        <select class="form-control" name='{{form.hotel.name}}' id="sel1">
                           <option selected disabled>Choose a hotel...</option>
                           {% for hotel in form.fields.hotel.choices %}
                           <option value="{{hotel}}">{{hotel}}</option>
                           {% endfor %}
                        </select>
                     </div>
                     <div class="col-sm-5">
                        {% if form.errors %}
                        {% for field in form %}
                        {% for error in field.errors %}
                        <div class="alert alert-danger">
                           <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                           <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% endif %}
                     </div>
                     <label class="control-label col-sm-2">Amount of People</label>
                     <div class="col-sm-3">
                        <select class="form-control" id='amount' name='{{form.amount_people.name}}'>
                           <option selected disabled>Amount of People</option>
                        </select>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-sm-2">{{form.comment.label_tag}}</label>
                     <div class="col-sm-10">
                        {{form.comment}}
                     </div>
                  </div>
                  <h4>Total to pay: <span id='totaltopay'>$ {{price|floatformat}}</span></h4>
                  <button type="submit" class="btn btn-primary">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                  Reserve now
                  </button>
               </form>
            </div>
         </div>
      </div>
   </div>
{% endblock %}



{% block extrajs %}
   <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
   <script src="{% static 'js/calendarexcursion.js' %}" type="text/javascript"></script>
   <script type="text/javascript">
      var available_dates = '{{available_dates}}';
      var start = '{{start}}';
      var end = '{{end}}';
      var price = '{{price}}';
      
      $('#centralModalInfo').modal('show');
      
   </script>
{% endblock %}