{% load static %}

<div class="modal fade" id="{{excursion.name|cut:' '|lower}}modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-notify modal-info" role="document">
      <div class="modal-content" style="margin: 30% auto;">
         <div class="modal-header">
            <p class="heading lead">Details of {{excursion.name}} Excursion</p>
         </div>
         <div class="modal-body">
            <div class="text-center thumbnail">
               {% with 'images/personal/excursions/'|add:excursion.name|add:'.jpg' as imagePath %}
                  <img src='{% static imagePath %}' />
               {% endwith %}
            </div>
            <div class="text-center">
               <p><strong>Excursion Name:</strong> {{excursion.name}}</p>
               <p><strong>Details:</strong> {{excursion.detail}}</p>
               <p><strong>Available dates:<br></strong>
                  {% for d in excursion.date %}
                     {{d|date:"d-M-Y"}}
                  <br>
                  {% endfor %}
               </p>
               <p><strong>Precio:</strong> ${{excursion.price}}</p>
            </div>
         </div>
         <div class="modal-footer justify-content-center">
            <a type="button" class="btn btn-primary" data-dismiss="modal">
            <span>OK</span>
            </a>
         </div>
      </div>
   </div>
</div>