.personal-height {
  height: 500px;
}



.masthead {
  /* height: 100vh; */
  /* min-height: 500px; */
  /* background-image: url('../../images/personal/downloads/background.jpg'); */
  /* background-size: cover; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  background:  linear-gradient(to bottom, white , #D9D9D9);

}


.font-styles{
	color: #8E8E8E;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-style: 55px;
}


.rowi{
	margin-top: 10%;
}

.rowi2{
  margin-top: 5%;
}


.back-btn{
	border-radius: 100%;
	outline: none !important;
	color: rgba(253,253,255,0.9);
    background-color: #5bc0de;
    border-color: #46b8da;

}


.jumbotron-personal{
  width: 80%;
  display: inline-block;
  background-color: rgba(231,248,249,0.5)
}

.cls-input{
  width: 80%;
}

.cls-input-code{
  width: 20%;
  font-size: 15px
}

.danger-cls{
  width: 80%;
  margin: 5px 0 0 0;
}


i.fa-check-circle-o{
  color: #51A705;
  font-size: 150px;
}

h1.thanks{
  color: #51A705;
  
}


i.fa-times{
  color: #922B21;
  font-size: 150px;
}

h1.sorry{
  color: #922B21;
  
}



.download-btn{
  display: inline-block;
}