h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-size: 24px;
    line-height: 1.35;
    font-weight: 500;
}

.masthead {
  /* height: 100vh; */
  /* min-height: 500px; */
  /* background-image: url('../../images/personal/downloads/background.jpg'); */
  /* background-size: cover; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  background:  linear-gradient(to bottom, white , #D9D9D9);
}


.font-styles{
	color: rgba(215,234,240,0.5);
  font-weight: 700;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-style: 55px;
}


.rowi{
	margin-top: 10%;
}


.jumbotron-personal{
  width: 80%;
  display: inline-block;
  background-color: rgba(231,248,249,0.5)
}


