.service .carousel-indicators li {
	display: inline-block;
	margin: 1px;
	width: 45px;
	height: 20px;
	border: none;
	border-radius: 0px;
	background: #044A81;
	text-indent: -999px;
	cursor: pointer;
}


.service .carousel-indicators .active {
	width: 45px;
	height: 25px;
	border: none;
	border-radius: 0px;
}


.dropdown-services{
    color: #F2F2F2;;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    display: block;
    padding: 10px 15px;
    background-color: transparent;
    padding-top: 14px;
    padding-bottom: 15px;
}


nav.navbar {
    top: -81px;
}
    