@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body { font-family: 'Open Sans', sans-serif;}
h1 { text-align: center; font-size: 28px; font-weight: 600; margin-top: 90px; margin-bottom: 30px;}
h3 { font-size: 22px; margin: 15px 0 15px;}
h3.head3 { font-weight: 600; border-bottom: 4px solid #f3f3f3; padding-bottom: 5px;}
ul { margin: 0; padding: 0;}
ul.uploaded-pics { list-style-type: none;}
ul.uploaded-pics li { width: 16.40%; display: inline-table; margin: 5px}
ul.uploaded-pics img { border: 2px dashed transparent;}
ul.uploaded-pics input[type="checkbox"][id^="checkthis"] { display: none;}
ul.uploaded-pics label { padding: 5px; display: block; position: relative; cursor: pointer;}
ul.uploaded-pics label:before { font-size: 15px; background-color: #ffffff; color: #0095ff; content: ""; display: block; border-radius: 50%; border: 1px solid #0095ff; position: absolute; top: -6px; right: -6px; width: 25px; height: 25px; line-height: 25px; text-align: center; transition-duration: 0.4s; transform: scale(0);}
ul.uploaded-pics label img { width: 100%; transition-duration: 0.2s; transform-origin: 50% 50%;}
ul.uploaded-pics :checked + label:before { content: "✓"; transform: scale(1); z-index: 2;}
ul.uploaded-pics :checked + label img { padding: 5px; z-index: -1; border: 2px dashed #0095ff;}
.pull-right .btn { margin-left: 5px;}

.submitbtn{
    display: inline-block;
    padding: 0 30px;
    color: #fff !important;
    text-align: center;
    font-size: 20px !important;
    line-height: 38px;
    letter-spacing: 1px;
    text-decoration: none;
    white-space: nowrap;
    background-color: #0069d9 !important;
    font-family: "Oswald", sans-serif !important;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
    font-weight: 300;
    float: none !important;
    margin: 0 4px 4px 0;
}

.twelve.verticals {
    text-align: center;
}



.submitbtn:hover {
    background: #32b9d1 !important;
    color: #10151B !important;
}



.isfree{
    border: 10px solid #2ECC71;
}
.label{
    display: inline;
    padding: .2em .6em .3em;
    margin-left: 10px;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 1em;
}

.label-default {
    background-color: #2ECC71;
}


.jumbotron-photos{
     background-color: rgba(231,248,249,0.5)
}

.font-styles {
    color: rgba(215,234,240,0.5);
    font-weight: 700;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}


.the-images {
    pointer-events: none;
}

.modal{
    top: 10%;
}

.no-pointer{
    pointer-events: none;
}


.center-downloads-btn{
    text-align: center;
}