.svg-waves{
    width:100%;
    background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(125,185,232,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
    background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(125,185,232,1) 100%);
    background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(125,185,232,1) 100%);
  }

  .body-waves{
    margin:0;
    background-color:#EDEFF4;
  }

  .wrap{
      display: inline-block;
    position: relative;
    width: 100%;
    /* padding-bottom: 100%; */
    vertical-align: middle;
    overflow: hidden;
    }

  .st0{fill:#A4B2EA;}
  .st1{fill:#BFC9E8;}
  .st2{fill:#D3DAED;}
  .st3{fill:#EDEFF4;}