{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
	<title>Error 404</title>
	<link href="{% static 'css/personal/404.css' %}" rel="stylesheet" media="screen">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
{% endblock %}

{% block content %}
     <div class="spin circle">
    	<div class="animated tada fast">
	        <h1 >404</h1>
	        <h2>Sorry, page not found !</h2>
	    </div>
    </div>
{% endblock %}