{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% include 'head.html' %}
	{% block extrahead %}{% endblock %}
</head>
<body>
	  <!-- Navigation -->
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle nav</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <!-- Logo text or image -->

        <a class="navbar-brand" href="{% url 'home:home_view' %}">
        </a>

      </div>
      <div class="navigation collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li class="current">
            <!-- <a href="{% url 'home:home_view' %}">Home</a></li> -->
          <li>
            <div class="dropdown">
              <button class="dropdown-toggle dropdown-services" type="button" data-toggle="dropdown">Services
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="{% url 'home:home_view' %}#services">Services</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'excursion:initial' %}">Excursions</a></li>
                <li><a href="{% url 'download:initial' %}">Download Photos</a></li>
                <li><a href="#">Photo sessions</a></li>
              </ul>
            </div>  
          </li>
          <li><a href="{% url 'home:home_view' %}#about">About</a></li>
          <li><a href="{% url 'home:home_view' %}#portfolio">Works</a></li>
          <li><a href="{% url 'home:home_view' %}#team">Team</a></li>
          <li><a href="{% url 'home:home_view' %}#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

  {% block content %}{% endblock %}

  {% include 'footer.html' %}
	
	{% include 'javascript.html' %}
	{% block extrajs %}{% endblock %}
</body>
</html>