{% load static %}

<!-- Contact -->
<section id="contact" class="home-section-contact bg-white4">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="section-heading">
          <h2 class="colordarkgray">Contact us</h2>
          <div class="heading-line"></div>
          <p class="colordarkgray">If you have any question or just want to say 'hello' to Alstar web studio please fill out form below and
            we will be get in touch with you within 24 hours. </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div id="sendmessage">Your message has been sent. Thank you!</div>
        <div id="errormessage"></div>

        <form action="" method="post" class="form-horizontal contactForm" role="form">
          <div class="col-md-offset-2 col-md-8">
            <div class="form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4"
                data-msg="Please enter at least 4 chars" />
              <div class="validation"></div>
            </div>
          </div>

          <div class="col-md-offset-2 col-md-8">
            <div class="form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email"
                data-msg="Please enter a valid email" />
              <div class="validation"></div>
            </div>
          </div>

          <div class="col-md-offset-2 col-md-8">
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4"
                data-msg="Please enter at least 8 chars of subject" />
              <div class="validation"></div>
            </div>
          </div>

          <div class="col-md-offset-2 col-md-8">
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us"
                placeholder="Message"></textarea>
              <div class="validation"></div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
              <button type="submit" class="btn btn-theme btn-lg btn-block">Send message</button>
            </div>
          </div>
        </form>

      </div>
    </div>

  </div>
</section>

<!-- Bottom widget -->
<section id="bottom-widget" class="home-section bg-white5">
  <div class="container"
    <div class="row">
      <div class="col-md-4">
        <div class="contact-widget wow bounceInLeft">
          <i class="fa fa-map-marker fa-4x"></i>
          <h5 class="colorwhitegray">Main Office</h5>
          <p class='colorwhitegray'>
            109 Borough High Street,<br />London SE1 1NL
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="contact-widget wow bounceInUp">
          <i class="fa fa-phone fa-4x"></i>
          <h5 class="colorwhitegray">Call</h5>
          <p class='colorwhitegray'>
            +1 111 9998 7774<br> +1 245 4544 6855

          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="contact-widget wow bounceInRight">
          <i class="fa fa-envelope fa-4x"></i>
          <h5 class="colorwhitegray">Email us</h5>
          <p class='colorwhitegray'>
            hello@alstarstudio.com<br />sales@alstarstudio.com
          </p>
        </div>
      </div>
    </div>
    
  </div>
  </section>

  
<div class="row mar-top30">
        <div class="col-md-12">
          <h5 class="colorwhitegray">We're on social networks</h5>
          <ul class="social-network">
            <li><a href="#">
                <span class="fa-stack fa-2x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-backcolor"></i>
                </span></a>
            </li>
            <li><a href="#">
                <span class="fa-stack fa-2x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-dribbble fa-stack-1x fa-backcolor"></i>
                </span></a>
            </li>
            <li><a href="#">
                <span class="fa-stack fa-2x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-backcolor"></i>
                </span></a>
            </li>
            <li><a href="#">
                <span class="fa-stack fa-2x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-pinterest fa-stack-1x fa-backcolor"></i>
                </span></a>
              </li>
            </ul>
          </div>
        </div>
<!-- wavesssssssssssss  -->

    <div class='body-waves'>
        <div class="wrap">
                <svg class = 'svg-waves' id="waves" viewBox="0 300 1080 330">0 345 1080 300
                <path id="layer-12" class="st0" d="M1417.2,811.3H-9.6V385.7l76.8-35.4c0,0,20.7,35.4,78,35.4s95.1-35.4,95.1-35.4
                    s13.4,35.4,63.4,35.4s87.8-35.4,87.8-35.4s24.4,35.4,73.2,35.4s69.5-35.4,69.5-35.4s30.5,35.4,86.6,35.4c56.1,0,82.9-35.4,82.9-35.4
                    s22,35.4,63.4,35.4s80.5-35.4,80.5-35.4s23.2,35.4,72,35.4s75.6-35.4,75.6-35.4s20.7,35.4,63.4,35.4c42.7,0,73.2-35.4,73.2-35.4
                    s26.8,35.4,63.4,35.4c36.6,0,65.9-35.4,65.9-35.4s41.5,35.4,76.8,35.4s79.3-35.4,79.3-35.4V811.3z"/>
                <path id="layer-11" class="st1" d="M-80.6,829.5h1426.8V403.9l-76.8-35.4c0,0-20.7,35.4-78,35.4s-95.1-35.4-95.1-35.4
                    s-13.4,35.4-63.4,35.4c-50,0-87.8-35.4-87.8-35.4s-24.4,35.4-73.2,35.4s-69.5-35.4-69.5-35.4s-30.5,35.4-86.6,35.4
                    c-56.1,0-82.9-35.4-82.9-35.4s-22,35.4-63.4,35.4c-41.5,0-80.5-35.4-80.5-35.4s-23.2,35.4-72,35.4s-75.6-35.4-75.6-35.4
                    s-20.7,35.4-63.4,35.4s-73.2-35.4-73.2-35.4s-26.8,35.4-63.4,35.4s-65.9-35.4-65.9-35.4S34,403.9-1.3,403.9s-79.3-35.4-79.3-35.4
                    V829.5z"/>
                <path id="layer-10" class="st2" d="M-24.5,852h1426.8V426.3l-76.8-35.4c0,0-20.7,35.4-78,35.4s-95.1-35.4-95.1-35.4
                    s-13.4,35.4-63.4,35.4c-50,0-87.8-35.4-87.8-35.4s-24.4,35.4-73.2,35.4c-48.8,0-69.5-35.4-69.5-35.4s-30.5,35.4-86.6,35.4
                    c-56.1,0-82.9-35.4-82.9-35.4s-22,35.4-63.4,35.4S545,391,545,391s-23.2,35.4-72,35.4S397.4,391,397.4,391s-20.7,35.4-63.4,35.4
                    S260.9,391,260.9,391s-26.8,35.4-63.4,35.4S131.6,391,131.6,391s-41.5,35.4-76.8,35.4S-24.5,391-24.5,391V852z"/>
                <path id="layer-9" class="st3" d="M-80.6,878.3h1426.8V452.7l-76.8-35.4c0,0-20.7,35.4-78,35.4s-95.1-35.4-95.1-35.4
                    s-13.4,35.4-63.4,35.4c-50,0-87.8-35.4-87.8-35.4s-24.4,35.4-73.2,35.4s-69.5-35.4-69.5-35.4s-30.5,35.4-86.6,35.4
                    c-56.1,0-82.9-35.4-82.9-35.4s-22,35.4-63.4,35.4c-41.5,0-80.5-35.4-80.5-35.4s-23.2,35.4-72,35.4s-75.6-35.4-75.6-35.4
                    s-20.7,35.4-63.4,35.4s-73.2-35.4-73.2-35.4s-26.8,35.4-63.4,35.4s-65.9-35.4-65.9-35.4S34,452.7-1.3,452.7s-79.3-35.4-79.3-35.4
                    V878.3z"/>
                <path id="layer-8" class="st0" d="M1388.9,894H-37.9V468.4L38.9,433c0,0,20.7,35.4,78,35.4s95.1-35.4,95.1-35.4s13.4,35.4,63.4,35.4
                    s87.8-35.4,87.8-35.4s24.4,35.4,73.2,35.4S506,433,506,433s30.5,35.4,86.6,35.4c56.1,0,82.9-35.4,82.9-35.4s22,35.4,63.4,35.4
                    s80.5-35.4,80.5-35.4s23.2,35.4,72,35.4S967,433,967,433s20.7,35.4,63.4,35.4s73.2-35.4,73.2-35.4s26.8,35.4,63.4,35.4
                    s65.9-35.4,65.9-35.4s41.5,35.4,76.8,35.4c35.4,0,79.3-35.4,79.3-35.4V894z"/>
                <path id="layer-7" class="st1" d="M-108.9,912.2h1426.8V486.6l-76.8-35.4c0,0-20.7,35.4-78,35.4s-95.1-35.4-95.1-35.4
                    s-13.4,35.4-63.4,35.4s-87.8-35.4-87.8-35.4s-24.4,35.4-73.2,35.4c-48.8,0-69.5-35.4-69.5-35.4s-30.5,35.4-86.6,35.4
                    c-56.1,0-82.9-35.4-82.9-35.4s-22,35.4-63.4,35.4s-80.5-35.4-80.5-35.4s-23.2,35.4-72,35.4S313,451.2,313,451.2
                    s-20.7,35.4-63.4,35.4s-73.2-35.4-73.2-35.4s-26.8,35.4-63.4,35.4s-65.9-35.4-65.9-35.4s-41.5,35.4-76.8,35.4s-79.3-35.4-79.3-35.4
                    V912.2z"/>
                <path id="layer-6" class="st2" d="M-52.8,934.7H1374V509.1l-76.8-35.4c0,0-20.7,35.4-78,35.4s-95.1-35.4-95.1-35.4
                    s-13.4,35.4-63.4,35.4c-50,0-87.8-35.4-87.8-35.4s-24.4,35.4-73.2,35.4c-48.8,0-69.5-35.4-69.5-35.4s-30.5,35.4-86.6,35.4
                    c-56.1,0-82.9-35.4-82.9-35.4s-22,35.4-63.4,35.4c-41.5,0-80.5-35.4-80.5-35.4s-23.2,35.4-72,35.4s-75.6-35.4-75.6-35.4
                    s-20.7,35.4-63.4,35.4s-73.2-35.4-73.2-35.4s-26.8,35.4-63.4,35.4s-65.9-35.4-65.9-35.4s-41.5,35.4-76.8,35.4s-79.3-35.4-79.3-35.4
                    V934.7z"/>
                <path id="layer-5" class="st3" d="M-108.9,961h1426.8V535.4l-76.8-35.4c0,0-20.7,35.4-78,35.4s-95.1-35.4-95.1-35.4
                    s-13.4,35.4-63.4,35.4S916.7,500,916.7,500s-24.4,35.4-73.2,35.4c-48.8,0-69.5-35.4-69.5-35.4s-30.5,35.4-86.6,35.4
                    c-56.1,0-82.9-35.4-82.9-35.4s-22,35.4-63.4,35.4S460.6,500,460.6,500s-23.2,35.4-72,35.4S313,500,313,500s-20.7,35.4-63.4,35.4
                    S176.5,500,176.5,500s-26.8,35.4-63.4,35.4S47.2,500,47.2,500s-41.5,35.4-76.8,35.4s-79.3-35.4-79.3-35.4V961z"/>
                <path id="layer-4" class="st0" d="M-40.8,972.4h1426.8V546.8l-76.8-35.4c0,0-20.7,35.4-78,35.4s-95.1-35.4-95.1-35.4
                    s-13.4,35.4-63.4,35.4c-50,0-87.8-35.4-87.8-35.4s-24.4,35.4-73.2,35.4s-69.5-35.4-69.5-35.4s-30.5,35.4-86.6,35.4
                    c-56.1,0-82.9-35.4-82.9-35.4s-22,35.4-63.4,35.4c-41.5,0-80.5-35.4-80.5-35.4s-23.2,35.4-72,35.4s-75.6-35.4-75.6-35.4
                    s-20.7,35.4-63.4,35.4s-73.2-35.4-73.2-35.4s-26.8,35.4-63.4,35.4s-65.9-35.4-65.9-35.4s-41.5,35.4-76.8,35.4s-79.3-35.4-79.3-35.4
                    V972.4z"/>
                <path id="layer-3" class="st1" d="M1457.1,990.6H30.2V565l76.8-35.4c0,0,20.7,35.4,78,35.4s95.1-35.4,95.1-35.4s13.4,35.4,63.4,35.4
                    s87.8-35.4,87.8-35.4s24.4,35.4,73.2,35.4s69.5-35.4,69.5-35.4s30.5,35.4,86.6,35.4s82.9-35.4,82.9-35.4s22,35.4,63.4,35.4
                    s80.5-35.4,80.5-35.4s23.2,35.4,72,35.4s75.6-35.4,75.6-35.4s20.7,35.4,63.4,35.4c42.7,0,73.2-35.4,73.2-35.4s26.8,35.4,63.4,35.4
                    c36.6,0,65.9-35.4,65.9-35.4s41.5,35.4,76.8,35.4c35.4,0,79.3-35.4,79.3-35.4V990.6z"/>
                <path id="layer-2" class="st2" d="M1362,1013.1H-64.9V587.5L12,552.1c0,0,20.7,35.4,78,35.4s95.1-35.4,95.1-35.4
                    s13.4,35.4,63.4,35.4s87.8-35.4,87.8-35.4s24.4,35.4,73.2,35.4s69.5-35.4,69.5-35.4s30.5,35.4,86.6,35.4s82.9-35.4,82.9-35.4
                    s22,35.4,63.4,35.4s80.5-35.4,80.5-35.4s23.2,35.4,72,35.4s75.6-35.4,75.6-35.4s20.7,35.4,63.4,35.4c42.7,0,73.2-35.4,73.2-35.4
                    s26.8,35.4,63.4,35.4c36.6,0,65.9-35.4,65.9-35.4s41.5,35.4,76.8,35.4c35.4,0,79.3-35.4,79.3-35.4V1013.1z"/>
                <path id="layer-1" class="st3" d="M1394.9,1041.8H-32V616.1l76.8-35.4c0,0,20.7,35.4,78,35.4s95.1-35.4,95.1-35.4
                    s13.4,35.4,63.4,35.4s87.8-35.4,87.8-35.4s24.4,35.4,73.2,35.4s69.5-35.4,69.5-35.4s30.5,35.4,86.6,35.4c56.1,0,82.9-35.4,82.9-35.4
                    s22,35.4,63.4,35.4s80.5-35.4,80.5-35.4s23.2,35.4,72,35.4c48.8,0,75.6-35.4,75.6-35.4s20.7,35.4,63.4,35.4s73.2-35.4,73.2-35.4
                    s26.8,35.4,63.4,35.4s65.9-35.4,65.9-35.4s41.5,35.4,76.8,35.4s79.3-35.4,79.3-35.4V1041.8z"/>
                </svg></div>
                
                
               
</div>
  <!-- ************************************************************************************  -->
  



  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>Copyright &copy; Company. All rights reserved.</p>
      
        </div>
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>