{% load static %}
<link rel="icon" href="{% static 'images/personal/favicon.png' %}">
<title>My Tailor Tours</title>
<meta charset="utf-8" />
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

<!-- css -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,300,700,800" rel="stylesheet" media="screen">

<link href="{% static 'css/template/bootstrap.min.css' %}" rel="stylesheet" media="screen">
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>


<link href="{% static 'css/template/style.css' %}" rel="stylesheet" media="screen">
<link href="{% static 'css/template/default.css' %}" rel="stylesheet" media="screen">
<link href="{% static 'css/personal/homemods.css' %}" rel="stylesheet" media="screen">
<link href="{% static 'css/personal/home.css' %}" rel="stylesheet" media="screen">

<link href="{% static 'css/personal/waves.css' %}" rel="stylesheet" media="screen">

