{% load static %}
<!-- js -->
<script src="{% static 'js/template/jquery.js' %}"></script>
<script src="{% static 'js/template/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js">
</script>

<script src="{% static 'js/template/wow.min.js' %}"></script>
<script src="{% static 'js/template/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'js/template/jquery.nav.js' %}"></script>
<script src="{% static 'js/template/modernizr.custom.js' %}"></script>
<script src="{% static 'js/template/grid.js' %}"></script>
<script src="{% static 'js/template/stellar.js' %}"></script>
<script src="{% static 'js/template/custom.js' %}"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.3.0/snap.svg-min.js"></script>
<script type="text/javascript" src="{% static 'js/waves.js' %}"></script>

<!-------------------------->




