{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/personal/photos.css' %}" />
	<link href="{% static 'css/personal/download.css' %}" rel="stylesheet" media="screen">
{% endblock %}



{% block content %}
<div class="masthead">
  <div class="container h-100">
    <div class="rowi h-100 align-items-center">

    <div class="centerphotos">
      <div class="jumbotron jumbotron-photos">
        <div class="row">
          <div class="col-md-12">
            <i class="fa fa-check-circle-o"></i>
            <h1 class='thanks'>THANKS</h1>
            <br>
            <h3>
            Your download should start automatically in few seconds, else please click the Download Again Button</h3>
            <br>
            <div class="download-btn">
              <input class="btn btn-primary" type="button" value="Download Again" onClick="document.location.reload(true)">
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
{% endblock %}


