{% extends 'base.html' %}
{% load static %}

{% block extrahead %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/personal/photos.css' %}" />
<link href="{% static 'css/personal/download.css' %}" rel="stylesheet" media="screen">

{% endblock %}

{% block content %}
<div class="masthead">
  <div class="container h-100">
    <div class="rowi2 h-100 align-items-center">

    <h1 class="font-styles">PLEASE COMPLETE YOUR ORDER</h1>
    <div class="jumbotron jumbotron-photos">
      <div class="row">
        <div class="col-md-4 col-md-offset-1">
          <!-- LEFT SECTION -->
          <div class="container">
            <h3>Images selected</h3>
            <hr class="mt-2 mb-5">
            <div class="row text-center text-lg-left">
              {% for pic in backend_dict.pics %}
                <div class="col-lg-3 col-md-4 col-6">
                  <a class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail the-images" src="{% get_media_prefix %}{{pic}}" alt="">
                  </a>
                </div>
              {% endfor %}



              
            </div>
          </div>
        </div>
        <!-- END LEFT SECTION -->
        <!-- RIGHT SECTION -->
        <div class="col-md-4 col-md-offset-1">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <h3>Invoice</h3>
          </h4>
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Details</h6>
                <small class="text-muted">{{backend_dict.detail}}</small>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Total of Free Photos</h6>
                <small class="text-muted">{{backend_dict.amount_free_photos}} Pics</small>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Total of Payable Photos</h6>
                <small class="text-muted">{{backend_dict.amount_paid_photos}} Pics</small>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between bg-light">
              <div class="text-success">
                <h5 class="my-0">Unit Price</h6>
                <h5 class="text-success">$ {{backend_dict.unit_price}}</small>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <h3 class="text-success">Total <strong>$ {{backend_dict.total_price}}</strong><br><br>
              {{ form.render }}</h3>
            </li>
          </ul>
        </div>
        <!-- END RIGHT SECTION-->
      </div>
    </div>
  </div>
  </div>
</div>
{% endblock %}